<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495724401836-o7ugr0tvaa6imasn5j8nkutg3tvopobc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495724401836-o7ugr0tvaa6imasn5j8nkutg3tvopobc</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ6N9WYR9yWkUh3-6JpCpuO7GGQnZp2U4</string>
	<key>GCM_SENDER_ID</key>
	<string>495724401836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webwildSearch.browsers.safe</string>
	<key>PROJECT_ID</key>
	<string>web-browser-privacy-faster</string>
	<key>STORAGE_BUCKET</key>
	<string>web-browser-privacy-faster.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:495724401836:ios:ce12a11fabc45a00cfbb09</string>
</dict>
</plist>
